* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#glowing-cards {
    color: #a0a0a0;
    padding: calc(8px + 1.5625vw);
    text-align: center;
    font-size: 10vw;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: calc(8px + 1.5625vw);
}

.container .card {
    position: relative;
    width: 320px;
    height: 400px;
    background-color: #2d2d2d;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container .card::before {
    content: '';
    position: absolute;
    width: 700px;
    height: 700px;
    left: var(--x);
    top: var(--y);
    opacity: 0;
    background: radial-gradient(var(--clr), transparent, transparent);
    transition: 0.5s top 0 left 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: 0.5s top 0 left 0;
    -moz-transition: 0.5s top 0 left 0;
    -ms-transition: 0.5s top 0 left 0;
    -o-transition: 0.5s top 0 left 0;
}

.container .card:hover::before {
    opacity: 1;
}

.container .card::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: rgba(45, 45, 45, 0.75);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}